# Bienvenido al Notebook de Transformaciones
Acá vas a ver todas las transformaciones básicas para poner a funcionar el dataset que en un principio estaba casi inutilizable o muy difícil de acceder, lo que hago acá es disponibilizar los datos

In [2]:
import pandas as pd #Importo las librerías que voy a utilizar, solo pandas...
from google.colab import drive

In [ ]:
'''
Pequeña aclaración (!)
Tuve que migrar a google colab debido a falta de hardware en mi equipo local, espero no represente inconveniente y
le resulte agradable el paso por este notebook ;)
'''

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
#Accedo al csv entre mis archivos con la ruta del drive
ruta_csv1 = '/content/drive/MyDrive/datasets/movies_dataset.csv'
ruta_csv2 = '/content/drive/MyDrive/datasets/credits.csv'
df_a_transformar = pd.read_csv(ruta_csv1)
df_a_transformar2 = pd.read_csv(ruta_csv2)

<ipython-input-4-f64fb19d0273>:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_a_transformar = pd.read_csv(ruta_csv1)

In [5]:
df_a_transformar.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

### Accedo a las columnas con diccionarios anidados
Primero quiero disponibilizar los datos que serían los más difíciles de acceder en el caso de que se mantengan como están.

In [6]:
df_btc = df_a_transformar[['belongs_to_collection', 'id']] #Comenzamos con una de las columnas que tiene los diccionarios("belngs_to_collection")
df_btc.head(5)

                               belongs_to_collection     id
0  {'id': 10194, 'name': 'Toy Story Collection', ...    862
1                                                NaN   8844
2  {'id': 119050, 'name': 'Grumpy Old Men Collect...  15602
3                                                NaN  31357
4  {'id': 96871, 'name': 'Father of the Bride Col...  11862

In [7]:
df_btc = df_btc.dropna()#Borro nulos

In [8]:
df_btc.head()

                                belongs_to_collection     id
0   {'id': 10194, 'name': 'Toy Story Collection', ...    862
2   {'id': 119050, 'name': 'Grumpy Old Men Collect...  15602
4   {'id': 96871, 'name': 'Father of the Bride Col...  11862
9   {'id': 645, 'name': 'James Bond Collection', '...    710
12  {'id': 117693, 'name': 'Balto Collection', 'po...  21032

In [9]:
indice = df_btc.shape
df_btc = df_btc.reset_index(drop=True)

for i in range(indice[0]):
    if not df_btc['id'].loc[i].isdigit():
        df_btc = df_btc.drop(i)

dict_list = df_btc['belongs_to_collection'].apply(eval).tolist() #Creo una lista con el dataframe para trabajarlo con python puro, dado que es mas sencillo para mi
id_list = df_btc['id'].apply(eval).tolist()


print(type(id_list[0:5]))
print(type(dict_list[0:5]))

<class 'list'>
<class 'list'>

In [10]:
for_df = []  # Crea una lista vacía llamada for_df para almacenar diccionarios modificados
for i in range(len(dict_list)):
    diccionario = dict_list[i]  # Obtiene un diccionario de la lista dict_list en cada iteración
    diccionario['id_general'] = id_list[i]  # Agrega una nueva clave 'id_general' con el valor correspondiente de id_list al diccionario
    for_df.append(diccionario)  # Agrega el diccionario modificado a la lista for_df

df_btc = pd.DataFrame(for_df)  # Crea un nuevo DataFrame df_btc a partir de la lista for_df
df_btc.head()  # Muestra las primeras filas del DataFrame df_btc

,id,name,poster_path,backdrop_path,id_general
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,862
1,119050,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,15602
2,96871,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,11862
3,645,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg,710
4,117693,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg,21032

In [11]:
df_btc.columns=['id_franquicia', 'name_franquicia', 'poster_path', 'backdrop_path', "id"] #cambia los nombres de las columnas

In [12]:
df_btc.head()#Observamos

,id_franquicia,name_franquicia,poster_path,backdrop_path,id
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,862
1,119050,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,15602
2,96871,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg,11862
3,645,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg,710
4,117693,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg,21032

In [13]:
df_genres = df_a_transformar[['genres', 'id']] #Seguimos con la columna "genres"

In [14]:
df_genres.head()

                                              genres     id
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...    862
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   8844
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  15602
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  31357
4                     [{'id': 35, 'name': 'Comedy'}]  11862

In [17]:
df_genres = df_genres.reset_index(drop = True)#Reiniciar indices descartando los anteriores

In [18]:
dimenciones = df_genres.shape  # Obtiene las dimensiones del DataFrame df_genres
for_df_genres = []  # Crea una lista vacía llamada for_df_genres para almacenar diccionarios modificados
lista_de_listas = []  # Crea una lista vacía llamada lista_de_listas

for i in range(dimenciones[0]):
    if not df_genres['id'].loc[i].isdigit():  # Verifica si el valor en la columna 'id' en la fila i no es un dígito
        df_genres = df_genres.drop(i)  # Elimina la fila i del DataFrame df_genres
    df_genres = df_genres.reset_index(drop=True)  # Reinicia los índices del DataFrame df_genres después de eliminar filas

    lista_de_listas = eval(df_genres['genres'].loc[i])  # Obtiene una lista de diccionarios a partir del valor en la columna 'genres' en la fila i

    for diccionario in lista_de_listas:
        dicc_mod = diccionario  # Obtiene cada diccionario de la lista de diccionarios
        dicc_mod['id_general'] = int(df_genres['id'].loc[i])  # Agrega una nueva clave 'id_general' con el valor convertido a entero de 'id' en la fila i al diccionario modificado

        for_df_genres.append(dicc_mod)  # Agrega el diccionario modificado a la lista for_df_genres

df_genres = pd.DataFrame(for_df_genres)  # Crea un nuevo DataFrame df_genres a partir de la lista for_df_genres
df_genres.head()  # Muestra las primeras filas del DataFrame df_genres

      id       name  id_general
0     16  Animation         862
1     35     Comedy         862
2  10751     Family         862
3     12  Adventure        8844
4     14    Fantasy        8844

In [19]:
df_genres.columns=['id_genre', 'genre', 'id'] #Cambio los nombres de las columnas

In [20]:
df_genres

       id_genre      genre      id
0            16  Animation     862
1            35     Comedy     862
2         10751     Family     862
3            12  Adventure    8844
4            14    Fantasy    8844
...         ...        ...     ...
91089     10751     Family  439050
91090        18      Drama  111109
91091        28     Action   67758
91092        18      Drama   67758
91093        53   Thriller   67758

[91094 rows x 3 columns]

In [21]:
df_production_companies = df_a_transformar[['production_companies','id']]#Continuamos con la columna "production_companies"
df_production_companies

                                    production_companies      id
0         [{'name': 'Pixar Animation Studios', 'id': 3}]     862
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...    8844
2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...   15602
3      [{'name': 'Twentieth Century Fox Film Corporat...   31357
4      [{'name': 'Sandollar Productions', 'id': 5842}...   11862
...                                                  ...     ...
45461                                                 []  439050
45462             [{'name': 'Sine Olivia', 'id': 19653}]  111109
45463  [{'name': 'American World Pictures', 'id': 6165}]   67758
45464               [{'name': 'Yermoliev', 'id': 88753}]  227506
45465                                                 []  461257

[45466 rows x 2 columns]

In [22]:
df_production_companies = df_production_companies.dropna().reset_index(drop=True) #Borro los nulos y reseteo los indices para evitar errores en la iteración

In [23]:
df_production_companies

                                    production_companies      id
0         [{'name': 'Pixar Animation Studios', 'id': 3}]     862
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...    8844
2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...   15602
3      [{'name': 'Twentieth Century Fox Film Corporat...   31357
4      [{'name': 'Sandollar Productions', 'id': 5842}...   11862
...                                                  ...     ...
45458                                                 []  439050
45459             [{'name': 'Sine Olivia', 'id': 19653}]  111109
45460  [{'name': 'American World Pictures', 'id': 6165}]   67758
45461               [{'name': 'Yermoliev', 'id': 88753}]  227506
45462                                                 []  461257

[45463 rows x 2 columns]

In [24]:
mask = df_production_companies['production_companies'] == "[]"
df_production_companies = df_production_companies[~mask].reset_index(drop = True) #Borro listas vacías que no me aportan nada y vuelvo a resetear lo indices

In [25]:
df_production_companies = df_production_companies.dropna().reset_index(drop=True) #Borro los nulos y reseteo los indices para evitar errores en la iteración

In [26]:
df_production_companies

                                    production_companies      id
0         [{'name': 'Pixar Animation Studios', 'id': 3}]     862
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...    8844
2      [{'name': 'Warner Bros.', 'id': 6194}, {'name'...   15602
3      [{'name': 'Twentieth Century Fox Film Corporat...   31357
4      [{'name': 'Sandollar Productions', 'id': 5842}...   11862
...                                                  ...     ...
33583    [{'name': 'Concorde-New Horizons', 'id': 4688}]  222848
33584  [{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...   30840
33585             [{'name': 'Sine Olivia', 'id': 19653}]  111109
33586  [{'name': 'American World Pictures', 'id': 6165}]   67758
33587               [{'name': 'Yermoliev', 'id': 88753}]  227506

[33588 rows x 2 columns]

In [27]:
tamaño = df_production_companies.shape  # Obtiene las dimensiones del DataFrame df_production_companies
for_df_production_companies = []  # Crea una lista vacía llamada for_df_production_companies para almacenar diccionarios modificados

for i in range(tamaño[0]):
    if df_production_companies['id'].loc[i].isdigit():  # Verifica si el valor en la columna 'id' en la fila i es un dígito
        posible_lista = eval(df_production_companies['production_companies'].loc[i])  # Obtiene una posible lista de diccionarios a partir del valor en la columna 'production_companies' en la fila i

        for diccionario in posible_lista:
            posible_dicc = diccionario  # Obtiene cada diccionario de la lista de diccionarios posible_lista
            posible_dicc['id_general'] = df_production_companies['id'].loc[i]  # Agrega una nueva clave 'id_general' con el valor de 'id' en la fila i al diccionario modificado

            for_df_production_companies.append(posible_dicc)  # Agrega el diccionario modificado a la lista for_df_production_companies

df_production_companies = pd.DataFrame(for_df_production_companies)  # Crea un nuevo DataFrame df_production_companies a partir de la lista for_df_production_companies
df_production_companies.head()  # Muestra las primeras filas del DataFrame df_production_companies

                        name     id id_general
0    Pixar Animation Studios      3        862
1           TriStar Pictures    559       8844
2               Teitler Film   2550       8844
3  Interscope Communications  10201       8844
4               Warner Bros.   6194      15602

In [28]:
df_production_companies.columns=['companies', 'id_companies', 'id']#Cambiar los nombres de las columnas

In [29]:
df_production_companies

                           companies  id_companies      id
0            Pixar Animation Studios             3     862
1                   TriStar Pictures           559    8844
2                       Teitler Film          2550    8844
3          Interscope Communications         10201    8844
4                       Warner Bros.          6194   15602
...                              ...           ...     ...
70540    20th Century Fox Television         16323   30840
70541  CanWest Global Communications         38978   30840
70542                    Sine Olivia         19653  111109
70543        American World Pictures          6165   67758
70544                      Yermoliev         88753  227506

[70545 rows x 3 columns]

In [30]:
df_production_countries = df_a_transformar[['production_countries','id']]#Continuamos con la siguiente columna que se llama "production_companies"
df_production_countries

                                    production_countries      id
0      [{'iso_3166_1': 'US', 'name': 'United States o...     862
1      [{'iso_3166_1': 'US', 'name': 'United States o...    8844
2      [{'iso_3166_1': 'US', 'name': 'United States o...   15602
3      [{'iso_3166_1': 'US', 'name': 'United States o...   31357
4      [{'iso_3166_1': 'US', 'name': 'United States o...   11862
...                                                  ...     ...
45461             [{'iso_3166_1': 'IR', 'name': 'Iran'}]  439050
45462      [{'iso_3166_1': 'PH', 'name': 'Philippines'}]  111109
45463  [{'iso_3166_1': 'US', 'name': 'United States o...   67758
45464           [{'iso_3166_1': 'RU', 'name': 'Russia'}]  227506
45465   [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]  461257

[45466 rows x 2 columns]

In [31]:
df_production_countries = df_production_countries.dropna().reset_index(drop=True) #Borro nulos y reseteo indices
df_production_countries

                                    production_countries      id
0      [{'iso_3166_1': 'US', 'name': 'United States o...     862
1      [{'iso_3166_1': 'US', 'name': 'United States o...    8844
2      [{'iso_3166_1': 'US', 'name': 'United States o...   15602
3      [{'iso_3166_1': 'US', 'name': 'United States o...   31357
4      [{'iso_3166_1': 'US', 'name': 'United States o...   11862
...                                                  ...     ...
45458             [{'iso_3166_1': 'IR', 'name': 'Iran'}]  439050
45459      [{'iso_3166_1': 'PH', 'name': 'Philippines'}]  111109
45460  [{'iso_3166_1': 'US', 'name': 'United States o...   67758
45461           [{'iso_3166_1': 'RU', 'name': 'Russia'}]  227506
45462   [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]  461257

[45463 rows x 2 columns]

In [32]:
dimenciones = df_production_countries.shape  # Obtiene las dimensiones del DataFrame df_production_countries
for_df_production_countries = []  # Crea una lista vacía llamada for_df_production_countries para almacenar diccionarios modificados

for i in range(dimenciones[0]):
    if df_production_countries['id'].loc[i].isdigit():  # Verifica si el valor en la columna 'id' en la fila i es un dígito
        lista_countries = eval(df_production_countries['production_countries'].loc[i])  # Obtiene una lista de diccionarios a partir del valor en la columna 'production_countries' en la fila i

        for diccionario in lista_countries:
            p_diccionario = diccionario  # Obtiene cada diccionario de la lista de diccionarios lista_countries
            p_diccionario['id_countries'] = df_production_countries['id'].loc[i]  # Agrega una nueva clave 'id_countries' con el valor de 'id' en la fila i al diccionario modificado

            for_df_production_countries.append(p_diccionario)  # Agrega el diccionario modificado a la lista for_df_production_countries

df_production_countries = pd.DataFrame(for_df_production_countries)  # Crea un nuevo DataFrame df_production_countries a partir de la lista for_df_production_countries

In [33]:
df_production_countries

      iso_3166_1                      name id_countries
0             US  United States of America          862
1             US  United States of America         8844
2             US  United States of America        15602
3             US  United States of America        31357
4             US  United States of America        11862
...          ...                       ...          ...
49418         IR                      Iran       439050
49419         PH               Philippines       111109
49420         US  United States of America        67758
49421         RU                    Russia       227506
49422         GB            United Kingdom       461257

[49423 rows x 3 columns]

In [34]:
df_production_countries.columns=['countries', 'full_country', 'id']#Cambiar nombres de la columna

In [35]:
df_production_countries

      countries              full_country      id
0            US  United States of America     862
1            US  United States of America    8844
2            US  United States of America   15602
3            US  United States of America   31357
4            US  United States of America   11862
...         ...                       ...     ...
49418        IR                      Iran  439050
49419        PH               Philippines  111109
49420        US  United States of America   67758
49421        RU                    Russia  227506
49422        GB            United Kingdom  461257

[49423 rows x 3 columns]

In [36]:
df_s_l = df_a_transformar[['spoken_languages','id']]#la ultima columna con listas y diccionarios anidados "spoken_languages"
df_s_l

                                        spoken_languages      id
0               [{'iso_639_1': 'en', 'name': 'English'}]     862
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...    8844
2               [{'iso_639_1': 'en', 'name': 'English'}]   15602
3               [{'iso_639_1': 'en', 'name': 'English'}]   31357
4               [{'iso_639_1': 'en', 'name': 'English'}]   11862
...                                                  ...     ...
45461             [{'iso_639_1': 'fa', 'name': 'فارسی'}]  439050
45462                  [{'iso_639_1': 'tl', 'name': ''}]  111109
45463           [{'iso_639_1': 'en', 'name': 'English'}]   67758
45464                                                 []  227506
45465           [{'iso_639_1': 'en', 'name': 'English'}]  461257

[45466 rows x 2 columns]

In [37]:
df_s_l = df_s_l.dropna().reset_index(drop=True) #Borro nulos y reseteo inidices
df_s_l

                                        spoken_languages      id
0               [{'iso_639_1': 'en', 'name': 'English'}]     862
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...    8844
2               [{'iso_639_1': 'en', 'name': 'English'}]   15602
3               [{'iso_639_1': 'en', 'name': 'English'}]   31357
4               [{'iso_639_1': 'en', 'name': 'English'}]   11862
...                                                  ...     ...
45455             [{'iso_639_1': 'fa', 'name': 'فارسی'}]  439050
45456                  [{'iso_639_1': 'tl', 'name': ''}]  111109
45457           [{'iso_639_1': 'en', 'name': 'English'}]   67758
45458                                                 []  227506
45459           [{'iso_639_1': 'en', 'name': 'English'}]  461257

[45460 rows x 2 columns]

In [38]:
dimenciones = df_s_l.shape  # Obtiene las dimensiones del DataFrame df_s_l
for_df_s_l = []  # Crea una lista vacía llamada for_df_s_l para almacenar diccionarios modificados

for i in range(dimenciones[0]):
    if df_s_l['id'].loc[i].isdigit():  # Verifica si el valor en la columna 'id' en la fila i es un dígito
        lista_s_l = eval(df_s_l['spoken_languages'].loc[i])  # Obtiene una lista de diccionarios a partir del valor en la columna 'spoken_languages' en la fila i

        for diccionario in lista_s_l:
            p_diccionario = diccionario  # Obtiene cada diccionario de la lista de diccionarios lista_s_l
            p_diccionario['id_general'] = df_s_l['id'].loc[i]  # Agrega una nueva clave 'id_general' con el valor de 'id' en la fila i al diccionario modificado

            for_df_s_l.append(p_diccionario)  # Agrega el diccionario modificado a la lista for_df_s_l

df_s_l = pd.DataFrame(for_df_s_l)  # Crea un nuevo DataFrame df_s_l a partir de la lista for_df_s_l

In [39]:
df_s_l.columns=['spooken_language','full_language','id']#Cambiar nombres de las columnas

In [40]:
df_s_l

      spooken_language full_language      id
0                   en       English     862
1                   en       English    8844
2                   fr      Français    8844
3                   en       English   15602
4                   en       English   31357
...                ...           ...     ...
53295               en       English   30840
53296               fa         فارسی  439050
53297               tl                111109
53298               en       English   67758
53299               en       English  461257

[53300 rows x 3 columns]

In [41]:
dimenciones = df_a_transformar.shape  # Obtiene las dimensiones del DataFrame df_a_transformar

for i in range(dimenciones[0]):
    if not df_a_transformar['id'].loc[i].isdigit():  # Verifica si el valor en la columna 'id' en la fila i no es un dígito
        df_a_transformar = df_a_transformar.drop(i, axis=0)  # Elimina la fila i del DataFrame df_a_transformar

df_a_transformar = df_a_transformar.reset_index(drop=True)  # Reinicia los índices del DataFrame df_a_transformar después de eliminar filas

In [42]:
df_a_transformar['id'] = df_a_transformar['id'].astype(str)  # Convierte la columna 'id' de df_a_transformar a tipo de dato str (cadena de caracteres)
df_btc['id'] = df_btc['id'].astype(str)  # Convierte la columna 'id' de df_btc a tipo de dato str (cadena de caracteres)
df_production_companies['id'] = df_production_companies['id'].astype(str)  # Convierte la columna 'id' de df_production_companies a tipo de dato str (cadena de caracteres)
df_production_countries['id'] = df_production_countries['id'].astype(str)  # Convierte la columna 'id' de df_production_countries a tipo de dato str (cadena de caracteres)
df_genres['id'] = df_genres['id'].astype(str)  # Convierte la columna 'id' de df_genres a tipo de dato str (cadena de caracteres)

In [43]:
df_completo = df_a_transformar.merge(df_btc, on='id', how='left') \
                                .merge(df_production_companies, on='id', how='right') \
                                .merge(df_production_countries, on='id', how='left') \
                                .merge(df_genres, on='id', how='right')\
                                .merge(df_s_l, on='id', how='left') #realizo varios merge para unir todas las columnas desanidadas a un solo dataframe

In [44]:
columnas_a_eliminar = ["video", "imdb_id", "adult", "original_title", "poster_path_y", "homepage", 'belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'poster_path_x', 'backdrop_path']
df_completo = df_completo.drop(columnas_a_eliminar, axis=1)  # Elimina las columnas especificadas de df_completo

In [45]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 448060 entries, 0 to 448059
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   budget             426789 non-null  object
 1   id                 448060 non-null  object
 2   original_language  426705 non-null  object
 3   overview           425232 non-null  object
 4   popularity         426789 non-null  object
 5   release_date       426716 non-null  object
 6   revenue            426789 non-null  float64
 7   runtime            426494 non-null  float64
 8   status             426787 non-null  object
 9   tagline            225894 non-null  object
 10  title              426789 non-null  object
 11  vote_average       426789 non-null  float64
 12  vote_count         426789 non-null  float64
 13  id_franquicia      55070 non-null   float64
 14  name_franquicia    55070 non-null   object
 15  companies          426789 non-null  object
 16  id_companies       426789 non-null  float64
 17  countries          425219 non-null  object
 18  full_country       425219 non-null  object
 19  id_genre           448060 non-null  int64
 20  genre              448060 non-null  object
 21  spooken_language   442641 non-null  object
 22  full_language      442641 non-null  object
dtypes: float64(6), int64(1), object(16)
memory usage: 82.0+ MB

## Hora de empezar con el segundo dataset

In [46]:
df_a_transformar2#visualizo los datos

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [47]:
cantidad = df_a_transformar2.shape  # Obtiene las dimensiones del DataFrame df_a_transformar2
for_df_cast = []  # Crea una lista vacía llamada for_df_cast para almacenar diccionarios modificados

for i in range(cantidad[0]-1):
    s = eval(str(df_a_transformar2['cast'].loc[i]))  # Obtiene una posible lista de diccionarios a partir del valor en la columna 'cast' en la fila i

    if type(s) == list:  # Verifica si s es una lista
        for diccionario in s:
            d = diccionario  # Obtiene cada diccionario de la lista de diccionarios s
            d['id_general'] = df_a_transformar2['id'].loc[i]  # Agrega una nueva clave 'id_general' con el valor de 'id' en la fila i al diccionario modificado

            for_df_cast.append(d)  # Agrega el diccionario modificado a la lista for_df_cast
    else:
        i = cantidad[0]  # Asigna la cantidad de filas para salir del bucle
        print(type(s))  # Imprime el tipo de s

In [48]:
df_cast = pd.DataFrame(for_df_cast) # creo el dataframe a partir de la lista de diccionarios creada en la celda anterior
df_cast

,cast_id,character,credit_id,gender,id,name,order,profile_path,id_general
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862
...,...,...,...,...,...,...,...,...,...
562469,2,,52fe4ea59251416c7515d7d5,2,544742,Iwan Mosschuchin,0,None,227506
562470,3,,52fe4ea59251416c7515d7d9,1,1090923,Nathalie Lissenko,1,None,227506
562471,4,,52fe4ea59251416c7515d7dd,2,1136422,Pavel Pavlov,2,None,227506
562472,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,None,227506
562473,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506

In [49]:
df_cast.columns=['cast_id', 'character','credit_id', 'gender', 'id_1', 'name', 'order', 'profile_path', 'id']# Cambio los nombres de las columnas

In [50]:
for_df_crew = []  # Crea una lista vacía llamada for_df_crew para almacenar diccionarios modificados

for i in range(cantidad[0]-1):
    s = eval(str(df_a_transformar2['crew'].loc[i]))  # Obtiene una posible lista de diccionarios a partir del valor en la columna 'crew' en la fila i

    if type(s) == list:  # Verifica si s es una lista
        for diccionario in s:
            d = diccionario  # Obtiene cada diccionario de la lista de diccionarios s
            d['id'] = df_a_transformar2['id'].loc[i]  # Agrega una nueva clave 'id' con el valor de 'id' en la fila i al diccionario modificado

            for_df_crew.append(d)  # Agrega el diccionario modificado a la lista for_df_crew
    else:
        i = cantidad[0]  # Asigna la cantidad de filas para salir del bucle
        print(type(s))  # Imprime el tipo de s

In [51]:
df_crew = pd.DataFrame(for_df_crew) #Creo el dataframe a partir de la lista de diccionarios creada en la celda anterior

In [52]:
df_crew

,credit_id,department,gender,id,job,name,profile_path
0,52fe4284c3a36847f8024f49,Directing,2,862,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,52fe4284c3a36847f8024f4f,Writing,2,862,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,52fe4284c3a36847f8024f55,Writing,2,862,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,52fe4284c3a36847f8024f5b,Writing,2,862,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,52fe4284c3a36847f8024f61,Writing,0,862,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg
...,...,...,...,...,...,...,...
464308,52fe4776c3a368484e0c8393,Writing,2,67758,Screenplay,Jeffrey Goldenberg,/cX9qmOSujqnjIqDVS1jlNSpWLHx.jpg
464309,52fe4776c3a368484e0c8399,Sound,0,67758,Original Music Composer,Richard McHugh,None
464310,52fe4776c3a368484e0c839f,Camera,2,67758,Director of Photography,João Fernandes,None
464311,533bccebc3a36844cf0011a7,Directing,0,227506,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg
464312,58ebbc26925141281908aa0a,Production,2,227506,Producer,Joseph N. Ermolieff,None

In [53]:
df_credits = pd.merge(df_cast, df_crew, on='id') #Uno los dos dataframes con los datos desanidados en uno solo
df_credits

,cast_id,character,credit_id_x,gender_x,id_1,name_x,order,profile_path_x,id,credit_id_y,department,gender_y,job,name_y,profile_path_y
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862,52fe4284c3a36847f8024f49,Directing,2,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862,52fe4284c3a36847f8024f4f,Writing,2,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862,52fe4284c3a36847f8024f55,Writing,2,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862,52fe4284c3a36847f8024f5b,Writing,2,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862,52fe4284c3a36847f8024f61,Writing,0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9488022,4,,52fe4ea59251416c7515d7dd,2,1136422,Pavel Pavlov,2,None,227506,58ebbc26925141281908aa0a,Production,2,Producer,Joseph N. Ermolieff,None
9488023,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,None,227506,533bccebc3a36844cf0011a7,Directing,0,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg
9488024,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,None,227506,58ebbc26925141281908aa0a,Production,2,Producer,Joseph N. Ermolieff,None
9488025,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506,533bccebc3a36844cf0011a7,Directing,0,Director,Yakov Protazanov,/yyjbGdCs2ZN6IlZNCfmBWyuRDlt.jpg
9488026,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,/n1NXVGNzNxtqsMWxLT1h8GO8Kpi.jpg,227506,58ebbc26925141281908aa0a,Production,2,Producer,Joseph N. Ermolieff,None

In [54]:
lista_index = []  # Crea una lista vacía llamada lista_index para almacenar los índices de las filas a eliminar

rango = df_completo['id'].shape  # Obtiene el rango (dimensiones) de la columna 'id' en df_completo

for i in range(rango[0]):
    if not df_completo['id'].loc[i].isdigit():  # Verifica si el valor en la columna 'id' en la fila i no es un dígito
        lista_index.append(i)  # Agrega el índice de la fila a lista_index

df_completo = df_completo.drop(lista_index)  # Elimina las filas correspondientes a los índices almacenados en lista_index

In [55]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 448060 entries, 0 to 448059
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   budget             426789 non-null  object
 1   id                 448060 non-null  object
 2   original_language  426705 non-null  object
 3   overview           425232 non-null  object
 4   popularity         426789 non-null  object
 5   release_date       426716 non-null  object
 6   revenue            426789 non-null  float64
 7   runtime            426494 non-null  float64
 8   status             426787 non-null  object
 9   tagline            225894 non-null  object
 10  title              426789 non-null  object
 11  vote_average       426789 non-null  float64
 12  vote_count         426789 non-null  float64
 13  id_franquicia      55070 non-null   float64
 14  name_franquicia    55070 non-null   object
 15  companies          426789 non-null  object
 16  id_companies       426789 non-null  float64
 17  countries          425219 non-null  object
 18  full_country       425219 non-null  object
 19  id_genre           448060 non-null  int64
 20  genre              448060 non-null  object
 21  spooken_language   442641 non-null  object
 22  full_language      442641 non-null  object
dtypes: float64(6), int64(1), object(16)
memory usage: 82.0+ MB

In [56]:
df_completo[['revenue', 'budget']] = df_completo[['revenue', 'budget']].fillna(0) #Reemplazar los nulos por 0

In [57]:
df_completo['release_date'].isnull().sum()#Ver si hay nulos en la columna "release_date"

21344

In [58]:
mask = df_completo['release_date'].isnull()#Crear una mascara con los nulos de la columna "release_date"

In [59]:
df_completo = df_completo.drop(df_completo[mask].index)#Borrar los nulos según la máscara

In [60]:
df_completo['release_date'].isnull().sum()#Ver si sigue habiendo nulos

0

In [61]:
df_completo['release_date'] = df_completo['release_date'].str.strip()  # Elimina espacios en blanco al inicio y final de las cadenas en la columna 'release_date'

df_completo['release_date'] = pd.to_datetime(df_completo['release_date'], errors='coerce')  # Convierte la columna 'release_date' a tipo de dato datetime
# El parámetro 'errors' se establece en 'coerce' para manejar errores de conversión estableciendo los valores no válidos como NaT (Not a Time)

df_completo['release_date'] = df_completo['release_date'].dt.strftime('%Y-%m-%d')  # Convierte la columna 'release_date' a formato de cadena 'YYYY-MM-DD'

df_completo['release_date'] = pd.to_datetime(df_completo['release_date'], errors='coerce')  # Convierte la columna 'release_date' nuevamente a tipo de dato datetime
# Se utiliza 'errors='coerce'' para manejar errores de conversión estableciendo los valores no válidos como NaT (Not a Time)

In [62]:
df_completo['release_date'].dtypes#Ver si se cambió el formato

dtype('<M8[ns]')

In [63]:
df_completo = df_completo.reset_index(drop=True)#recetear indices

In [64]:
df_completo['budget'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 426716 entries, 0 to 426715
Series name: budget
Non-Null Count   Dtype
--------------   -----
426716 non-null  object
dtypes: object(1)
memory usage: 3.3+ MB

In [65]:
df_completo['budget']=df_completo['budget'].astype(int)#Cambiar formato de la columna "budget" a entero

In [66]:
df_completo[['budget', 'revenue']]

          budget      revenue
0       30000000  373554033.0
1       30000000  373554033.0
2       30000000  373554033.0
3       65000000  262797249.0
4       65000000  262797249.0
...          ...          ...
426711         0          0.0
426712         0          0.0
426713         0          0.0
426714         0          0.0
426715         0          0.0

[426716 rows x 2 columns]

In [67]:
df_completo['return'] = 0.0 #Crear una columna "return" con todos los valores = 0.0

In [69]:
cantidad = df_completo['budget'].shape  # Obtiene el rango (dimensiones) de la columna 'budget' en df_completo
lista_return = []  # Crea una lista vacía llamada lista_return para almacenar los resultados

for i in range(cantidad[0]):
    diccionario_return = {}  # Crea un diccionario vacío llamado diccionario_return en cada iteración

    if df_completo['budget'].loc[i] == 0:  # Verifica si el valor en la columna 'budget' en la fila i es igual a 0
        r = 0  # Si es igual a 0, se asigna 0 al resultado r
    else:
        r = df_completo['revenue'].loc[i] / df_completo['budget'].loc[i]  # Si no es igual a 0, se calcula la ratio revenue/budget y se asigna a r

    df_completo.at[i, 'return'] = r  # Asigna el valor de r a la columna 'return' en la fila i de df_completo

In [70]:
df_completo['return']

0         12.451801
1         12.451801
2         12.451801
3          4.043035
4          4.043035
            ...
426711     0.000000
426712     0.000000
426713     0.000000
426714     0.000000
426715     0.000000
Name: return, Length: 426716, dtype: float64

In [71]:
#exporto los dataframes en formato csv
df_completo.to_csv('/content/drive/MyDrive/datasets/dataset_completo.csv', index = False)
df_credits.to_csv('/content/drive/MyDrive/datasets/dataset_credits.csv', index = False)