# Bienvenido al Notebook de Transformaciones
Acá vas a ver todas las transformaciones básicas para poner a funcionar el dataset que en un principio estaba casi inutilizable o muy difícil de acceder, lo que hago acá es disponibilizar los datos

In [1]:
import pandas as pd #Importo las librerías que voy a utilizar, solo pandas...

In [2]:
df_a_transformar = pd.read_csv('./datasets/movies_dataset.csv') #Accedo al csv entre mis archivos con la ruta relativa
df_a_transformar.head(2)

C:\Users\yesen\AppData\Local\Temp\ipykernel_7504\4105753216.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_a_transformar = pd.read_csv('./datasets/movies_dataset.csv') #Accedo al csv entre mis archivos con la ruta relativa

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

### Accedo a las columnas con diccionarios anidados
Primero quiero disponibilizar los datos que serían los más difíciles de acceder en el caso de que se mantengan como están.

In [3]:
df_btc = df_a_transformar['belongs_to_collection'] #Comenzamos con una de las columnas que tiene los diccionarios("belngs_to_collection")
df_btc.head(5)

0    {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                  NaN
2    {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                  NaN
4    {'id': 96871, 'name': 'Father of the Bride Col...
Name: belongs_to_collection, dtype: object

In [4]:
df_btc = df_btc.dropna()#Borro nulos

In [5]:
df_btc.head()

0     {'id': 10194, 'name': 'Toy Story Collection', ...
2     {'id': 119050, 'name': 'Grumpy Old Men Collect...
4     {'id': 96871, 'name': 'Father of the Bride Col...
9     {'id': 645, 'name': 'James Bond Collection', '...
12    {'id': 117693, 'name': 'Balto Collection', 'po...
Name: belongs_to_collection, dtype: object

In [6]:
dict_list = df_btc.apply(eval).tolist() #Creo una lista con el dataframe para trabajarlo con python puro, dado que es mas sencillo para mi

In [13]:
in_list=[] #Creo una lista para los indices de los elementos que no sean diccionarios
for i in range(len(dict_list)):
    if not type(dict_list[i]) == dict: #Verifico que los elementos sean diccionarios y en el caso de que no lo sean se agregaran a una lista para posteriormente ser eliminados
        print(dict_list[i])
        in_list.append(i)

print(in_list)

[]

In [12]:
for i in range(len(in_list)): #Elimino los elementos que no sean diccionarios
    del dict_list[in_list[i]]

In [14]:
df_btc = pd.DataFrame(dict_list, columns=['id', 'name', 'poster_path', 'backdrop_path']) #Creo el dataframe con los datos de los diccionarios tomando cada key como columna

In [15]:
df_btc.head()#Observamos

,id,name,poster_path,backdrop_path
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,119050,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
2,96871,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
3,645,James Bond Collection,/HORpg5CSkmeQlAolx3bKMrKgfi.jpg,/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg
4,117693,Balto Collection,/w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg,/9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg

In [16]:
lista_lis = df_a_transformar['genres'] #Seguimos con la columna "genres"
df_genres =  lista_lis

In [18]:
df_genres.head()

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [19]:
'''
Para ésta columna fué sencillo solo creé una lista auxiliar(lista_aux) en la cual primero guardé el string del registro en el indice[i] y 
después usé la función eval() para convertirlo en lista.
Dado que era habían diccionaros anidados lo que hice fué acceder a cada una en un segundo bucle(for) y añadirlos a una nueva lista para
finalmente convertir todo en un dataframe(df_genres)
'''
dimentions = df_genres.shape 
df = []
for i in range(dimentions[0]-1):
    lista_aux = str(df_genres.loc[i]) 
    lista_aux = eval(lista_aux)

    for dicc in lista_aux:
        df.append(dicc)

df_genres = pd.DataFrame(df)

In [20]:
df_genres.columns=['id', 'genre']

In [21]:
df_genres

          id      genre
0         16  Animation
1         35     Comedy
2      10751     Family
3         12  Adventure
4         14    Fantasy
...      ...        ...
91101  10751     Family
91102     18      Drama
91103     28     Action
91104     18      Drama
91105     53   Thriller

[91106 rows x 2 columns]

In [ ]:
df_a_transformar[['id','production_companies']].head(5)

      id                               production_companies
0    862     [{'name': 'Pixar Animation Studios', 'id': 3}]
1   8844  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2  15602  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3  31357  [{'name': 'Twentieth Century Fox Film Corporat...
4  11862  [{'name': 'Sandollar Productions', 'id': 5842}...

In [22]:
df_production_companies = df_a_transformar['production_companies']#Continuamos con la columna "production_companies"
df_production_companies

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

In [23]:
df_production_companies = df_production_companies.dropna().reset_index(drop=True) #Borro los nulos y reseteo los indices para evitar errores en la iteración

In [24]:
df_production_companies

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45458                                                   []
45459               [{'name': 'Sine Olivia', 'id': 19653}]
45460    [{'name': 'American World Pictures', 'id': 6165}]
45461                 [{'name': 'Yermoliev', 'id': 88753}]
45462                                                   []
Name: production_companies, Length: 45463, dtype: object

In [25]:
mask = df_production_companies == "[]"
df_production_companies = df_production_companies[~mask].reset_index(drop = True) #Borro listas vacías que no me aportan nada y vuelvo a resetear lo indices

In [26]:
df_production_companies

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
33583      [{'name': 'Concorde-New Horizons', 'id': 4688}]
33584    [{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...
33585               [{'name': 'Sine Olivia', 'id': 19653}]
33586    [{'name': 'American World Pictures', 'id': 6165}]
33587                 [{'name': 'Yermoliev', 'id': 88753}]
Name: production_companies, Length: 33588, dtype: object

In [27]:
dimenciones = df_production_companies.shape 
lista_de = []
#Itero cada registro y los agrego en una lista(lista_de) para trabajarlo mejor
for i in range(dimenciones[0]-1): 
    s = df_production_companies.loc[i]
    lista_de.append(eval(s))

In [28]:
i = -1
lista_ind = []
#Me daba un error de tipo(bool) así que borro todos los registros que sean booleanos(porque no eran muchos) 
for lista in lista_de: 
    i+=1
    if type(lista) == bool:
        lista_ind.append(i)
        lista_de.pop(i)
lista_ind

[16340, 23302, 27253]

In [29]:
for_df = []
#Ahora si lo transformo en DataFrame 
for lista in lista_de:
    for dicc in lista:
        for_df.append(dicc)

df_production_companies = pd.DataFrame(for_df)

In [30]:
df_production_companies.columns=['companies', 'id']

In [31]:
df_production_companies.head()

                   companies     id
0    Pixar Animation Studios      3
1           TriStar Pictures    559
2               Teitler Film   2550
3  Interscope Communications  10201
4               Warner Bros.   6194

In [45]:
df_production_countries = df_a_transformar['production_countries']#Continuamos con la siguiente columna que se llama "production_companies"
df_production_countries

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [46]:
df_production_countries = df_production_countries.dropna().reset_index(drop=True) #Borro nulos y reseteo indices
df_production_countries

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45458               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45459        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45460    [{'iso_3166_1': 'US', 'name': 'United States o...
45461             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45462     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45463, dtype: object

In [ ]:
dimenciones = df_production_countries.shape
lista_de_=[]
#Creo una lista con cada uno de los registros
for i in range(dimenciones[0]-1):
    s = str(df_production_countries.loc[i])
    lista_de_.append(eval(s))#Les recuerdo que la función eval() lo que hace es detectar si un string tiene formato de una expreción de un tipo de dato de python y la transforma en ese tipo
    
lista_de_

In [48]:
#Otra vez había error de tipo, esta vez es por datos del tipo flotante, como no eran muchos(3) decidí borrarlos 
for item in lista_de_:
    if type(item) == float:
        lista_de_.remove(item)

In [49]:
for_df = []
#Hago la devida transformación a dataframe
for lista in lista_de_:
    for dicc in lista:
        for_df.append(dicc)

df_production_countries = pd.DataFrame(for_df)

In [51]:
df_production_countries.columns=['countries', 'full_country']

In [52]:
df_production_countries

      countries              full_country
0            US  United States of America
1            US  United States of America
2            US  United States of America
3            US  United States of America
4            US  United States of America
...         ...                       ...
49417        US  United States of America
49418        IR                      Iran
49419        PH               Philippines
49420        US  United States of America
49421        RU                    Russia

[49422 rows x 2 columns]

In [53]:
df_s_l = df_a_transformar['spoken_languages']#la ultima columna con listas y diccionarios anidados "spoken_languages"
df_s_l

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

In [54]:
df_s_l = df_s_l.dropna().reset_index(drop=True) #Borro nulos y reseteo inidices
df_s_l

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45455               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45456                    [{'iso_639_1': 'tl', 'name': ''}]
45457             [{'iso_639_1': 'en', 'name': 'English'}]
45458                                                   []
45459             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45460, dtype: object

In [ ]:
dimenciones = df_s_l.shape
lista_de_=[]

#Creo una lista con los valores de cada registro
for i in range(dimenciones[0]-1):
    s = str(df_s_l.loc[i])
    lista_de_.append(eval(s))
    
lista_de_

In [56]:
for_df = []
#Hago la devida transformación a dataframe
for lista in lista_de_:
    for dicc in lista:
        for_df.append(dicc)

df_s_l = pd.DataFrame(for_df)

In [59]:
df_s_l.columns=['spooken_language','full_language']

In [60]:
df_s_l

      spooken_language full_language
0                   en       English
1                   en       English
2                   fr      Français
3                   en       English
4                   en       English
...                ...           ...
53294               en       English
53295               en       English
53296               fa         فارسی
53297               tl
53298               en       English

[53299 rows x 2 columns]

#### Algo huele mal...

In [68]:
df_interseccion = pd.merge(df_btc,df_genres, on='id').merge(df_production_companies, on='id')
df_interseccion

,id,name,poster_path,backdrop_path,genre,companies
0,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
1,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
2,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
3,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
4,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
5,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
6,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
7,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
8,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
9,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
10,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
11,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
12,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
13,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
14,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
15,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
16,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
17,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
18,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
19,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
20,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
21,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
22,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
23,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
24,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
25,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
26,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
27,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
28,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex
29,2883,Kill Bill Collection,/tf1nUtw3LJGUGv1EFFi23iz6ngr.jpg,/oCLKNACMNrEf4T1EP6BpMXDl5m1.jpg,Aniplex,Aniplex

In [73]:
df_btc["id"]

0        10194
1       119050
2        96871
3          645
4       117693
         ...
4483     37261
4484     37261
4485     37261
4486    477208
4487    200641
Name: id, Length: 4488, dtype: int64

In [71]:
df_genres['id']

0           16
1           35
2        10751
3           12
4           14
         ...
91101    10751
91102       18
91103       28
91104       18
91105       53
Name: id, Length: 91106, dtype: int64

In [74]:
df_production_companies["id"]

0            3
1          559
2         2550
3        10201
4         6194
         ...
70539    10163
70540    16323
70541    38978
70542    19653
70543     6165
Name: id, Length: 70544, dtype: int64

**NOTA:** Me di cuenta que los id no coinciden entre columnas creadas entonces...

In [75]:
df_a_transformar = df_a_transformar.drop(['genres', 'belongs_to_collection', 'production_companies'], axis=1)

In [96]:
lista_id = df_a_transformar['id'].tolist()

In [ ]:
#19730 29502 35585

In [97]:
lista_id.pop(19730)
lista_id.pop(29502)
lista_id.pop(35585)

'2014-01-01'

In [99]:
for i in range(len(lista_id)):
    lista_id.append(eval(str(lista_id[i])))

i=0
for item in lista_id:
    if type(item) != int:
        lista_id.remove(item)
    i+=1
print(i)

125022

In [106]:
df_id=pd.DataFrame(lista_id)
df_id.columns=['id']
df_id.value_counts()

id
141971    8
168538    6
5511      6
25541     6
12600     6
         ..
227       1
2270      1
22701     1
227077    1
9997      1
Length: 56797, dtype: int64

In [104]:
df_prueba1=pd.merge(df_a_transformar,df_id, on='id', how='left')
df_prueba1.shape

(45468, 21)

In [105]:
df_a_transformar.shape

(45466, 21)